.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	background: rgb(246,232,215); 
	background: -moz-radial-gradient(center, ellipse cover,  rgba(246,232,215,1) 0%, rgba(218,190,155,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(246,232,215,1) 0%,rgba(218,190,155,1) 100%); 
	background: radial-gradient(ellipse at center,  rgba(246,232,215,1) 0%,rgba(218,190,155,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e8d7', endColorstr='#dabe9b',GradientType=1 ); 
	overflow: hidden;
}