* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background: #e56262;
  border-radius: 10px;
  position: relative;
}

.dot_one {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  animation: dot_one 3s ease infinite alternate;
  animation-fill-mode: both;
}

@keyframes dot_one {
  0%,
  10% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.dot_two {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  animation: dot_two 3s ease infinite alternate;
  animation-fill-mode: both;
}

@keyframes dot_two {
  0%,
  40% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.dot_three {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  animation: dot_three 3s ease infinite alternate;
  animation-fill-mode: both;
}

@keyframes dot_three {
  0%,
  70% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}