@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #1A2238;
  color: #394568;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.moon {
  position: absolute;
  width: 67px;
  height: 67px;
  top: 45px;
  left: 55px;
  border-radius: 50px;
  background: #F6EDBD;
  overflow: hidden;
  box-shadow: 0 0 10px 0 #F6EDBD;
  -webkit-animation: rise 1s ease-out;
          animation: rise 1s ease-out;
}

.moon .crater_one, .moon .crater_two,
.moon .crater_three {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 9px;
  left: 28px;
  border-radius: 10px;
  background: #e0d69f;
}

.moon .crater_two {
  top: 12px;
  left: 0;
}

.moon .crater_three {
  top: 56px;
  left: 10px;
} 

@keyframes rise {
  from {
    transform: translate(-20px, 200px);
  }
  to {
    transform: translate(0, 0px);
  }
}
