
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #ffb300;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.quote {
  position: relative;
	margin-top: 40px;
	padding: 0 30px;
  
}

.quote:before {
  display: block;
	position: absolute;
	z-index: 0;
	content: "„";
	font-family: Arial;
	font-size: 250px;
	color: #ffe54c;
	opacity: .6;
	line-height: 35px;
	top: -100px;
	left: 7px;
}

p {
  position: relative;
	font-size: 26px;
	line-height: 35px;
	margin: 80px 0;
}

.author {
	font-weight: 300;
	font-size: 22px;
	line-height: 28px;
}