
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #f3970e;
  color: rgb(247, 241, 241);
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.quote {
  position: relative;
	margin-top: 20px;
	padding: 0 30px;
  
}

.quote:before {
  display: block;
	position: absolute;
	z-index: 0;
	content: "„";
	font-family: Arial;
	font-size: 260px;
	color: #f8d511;
	opacity: .4;
	line-height: 35px;
	top: -105px;
	left: 7px;
}

p {
  position: relative;
	font-size: 27px;
	line-height: 35px;
  margin-top: 56px;
font-weight:500;
}

.author {
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
  margin-top: -2px;
  font-weight:300;
}