.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 6px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  font-family: "Open Sans", Helvetica, sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubbleOne{
	width: 100px;
	height: 100px;
	background: white;
	border-radius: 50%;
	animation: rotateOne 3s infinite linear .2s; 
}

.bubbleTwo {
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 50%;
	position: relative;
	left: 70px ;
	transform: rotate(45deg) translateX(0px) rotate(-45deg);
	animation: rotateTwo 3s infinite linear .4s; 
}

.bubbleThree {
	width: 25px;
	height: 25px;
	background: white;
	border-radius: 50%;
	position: relative;
	left: 60px ;
	transform: rotate(55deg) translateX(0px) rotate(-55deg);
	animation: rotateThree 3s infinite linear .6s; 
}

@keyframes rotateOne {
	0%{
		transform: rotate(0deg);
	}
	
	100%{
		transform: rotate(360deg);
	}
}

@keyframes rotateTwo {  
	from{
		transform: rotate(0deg) translateX(50px) rotate(0deg);
	}
	to{
		transform: rotate(360deg) translateX(50px) rotate(-360deg);
	}
}

@keyframes rotateThree {  
	from{
		transform: rotate(0deg) translateX(80px) rotate(0deg);
	}
	to{
		transform: rotate(360deg) translateX(80px) rotate(-360deg);
	}
}