
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #4c4c4c;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 23%;
  left: 23%;
}

.circle_one {
	background: #242424;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #3a3a3a;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-container{
	text-align: center;
	width: 160px;
	height: 95px;
	color: #fff;

}

svg{
	position: absolute;
	
	right: -14px; 
  bottom: -14px;
  width: 250px;
  height: 250px;
}


.outline3{
	transform-origin:  center;
	transform: rotate(270deg);
	stroke-dashoffset: 565;
	animation: dash 5s linear infinite;
}


h1{
	margin: 0;
	font-size: 2.5rem;
}

h3, span{
	margin: 0;
	font-weight: 30;
	font-size: 0.8rem;
}

.fa {
  color: #F85B5B;
  animation: beat 1s ease-in-out infinite;
}

@keyframes beat {
	0% {
		transform: scale(1);
	}
	35% {
		transform: scale(1.2);
	}
}

@keyframes dash{
	100%{
		stroke-dashoffset:-565;
	}
}
